/* Chrome, Safari, Edge, Opera */
.div input::-webkit-outer-spin-button,
.div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.div input {
  width: 40px;
  margin: 0px 10px;
}

/* Firefox */
.div input[type="number"] {
  -moz-appearance: textfield;
}
